//Fargepaletten er satt sammen i figma. 

//Lyselilla = E4B6E6
//Mørkelilla/rosa = 680A42
//Svart = 000000
//Hvit = FFFFFF

//Header = lyselilla
//Knapper + rammer = mørkelilla/rosa
//Tekst på lyselilla = svart
//Tekst på mørkelilla/rosa = hvit
//Bakgrunnsfarge på nettsiden = hvit

$header: #E4B6E6; 
$knapper: #680A42; 
$rammer: #680A42; 
$svarttekst: #000000; 
$hvittekst: #FFFFFF; 

