//Hentet fonter fra Google fonts, link: https://fonts.google.com/ 

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

//Logo og titler er i indieflower.  
//knapper og mengdetekst er i inter. 

$logo: "Indie Flower"; 
$titles: "Indie Flower"; 
$buttons: "Inter", sans-serif;
$quantitytext: "Inter", sans-serif; 