@use "./partials/colors"; 
@use "./partials/fonts.scss";

//Mobile-first 

#root {
    margin: 0, auto; 
    width: 100%;
}

main { 

    h1 {
        font-family: fonts.$titles;
        font-size: 2.8rem; 
        color: colors.$blacktext; 
        margin: 0px 0px 25px; 
    }

    #user-info { 

        gap: 1.2rem; 
        
        p {
            font-family: fonts.$quantitytext; 
            font-size: 1.6rem; 
            color: colors.$blacktext;
            text-align: center; 
        }

        button {
            font-family: fonts.$buttons; 
            font-size: 1.4rem; 
            background-color: colors.$buttons;
            color: colors.$whitetext;
            align-items: center;
            margin: 0 100px 0 100px;
            padding: 15px 0px 15px 0px; 
            border-color: colors.$frames;
        }

        img {
            align-items: center;
            max-width: 333px;
            height: auto; 
            border: 10px solid; 
            border-color: colors.$frames; 
        }
    }

    #user-purchases {
        
        h3 {
            font-family: fonts.$quantitytext; 
            font-size: 1.5rem; 
            color: colors.$blacktext; 
        }
    }

    #user-wishlist {

        h3 { 
            font-family: fonts.$quantitytext; 
            font-size: 1.5rem; 
            color: colors.$blacktext; 
        }
    }

    #user-friends {

        h3 {
            font-family: fonts.$quantitytext; 
            font-size: 1.5rem; 
            color: colors.$blacktext; 
        }

        article {
             
            img {
                height: 150;
                width: 250; 
            }

            h4 {
                font-family: fonts.$quantitytext; 
                font-size: 1.3rem; 
                color: colors.$blacktext; 
            }

            p {
                font-family: fonts.$quantitytext; 
                font-size: 1rem; 
                color: colors.$blacktext;
            }
        }

    }

}