@use "./partials/colors"; 
@use "./partials/fonts.scss"; 


//Mobile-first
#root {
    margin: 0, auto; 
    width: 100%;
    font-family: fonts.$quantitytext;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto; 
    padding: 0 20px;

    h1 {
        font-family: fonts.$titles;
        font-size: 2.3rem;
        margin: 0 auto;
        padding: 0 20px;
    }

    section.hoved-events {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        article {
            display: flex;
            flex-direction: column;
            margin: 1rem 1rem;
            padding: 0 20px;
            gap: 1rem;

            h2 {
                font-family: fonts.$titles;
                font-size: 2rem;
                color: colors.$blacktext;
                text-align: center;
            }
            
            img {
                width: 310px;
                height: 200px;
            }
    
            .mainEventBtn {
                max-width: 400px;
                color: colors.$whitetext;
                background-color: colors.$buttons;
                font-size: 1rem;
                padding: .5rem 1rem;
                border-radius: 2px;
                text-decoration: none;
                width: 280px;
                height: 35px;
                text-align: center;
                display: inline-block;
    
            }
        
        }

    }

    .by-knapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 2rem 0;

        article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

            a {
                text-decoration: none;
                color: colors.$whitetext;
                background-color: colors.$buttons;
                padding: .7rem 1.2rem;
                border-radius: 2px;
                text-decoration: none;
                margin: 0.5rem;
                width: auto;
                height: 25px;
            }
        }
    }

    .artikkel-fra-byer {

        
        article.event-card{
            border: 1px solid black;
            width: 300px;
            padding: 1rem;
            gap: 1rem;
            margin: 1rem 1rem;
            
            img {
                width: 300px;
                height: 200px;
            }
            

            h3{
                min-height: 46px;
            }

            .star {
                width: 38px;
                height: 42px;
                position: absolute;
                top: 12px;
                right: 12px;
                fill: #d58bd7;
            }

            p{
                line-height: 5px;
            }
        }
    }

    
}



body {
    background-color: colors.$backgroundcolor; 
}

/* Tablet: */
@media (min-width: 481px) and (max-width: 768px) {


}

    /* Liten desktop */
@media (min-width: 769px) and (max-width: 1024px) {

    main {
        display: block;
        h1 {
            font-family: fonts.$titles;
            font-size: 2rem;
            margin: 0 auto;
            padding: 0 20px;
        }
        section.hoved-events {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2.5rem;

            .mainEventBtn {
                max-width: 300px;
                color: colors.$whitetext;
                background-color: colors.$buttons;
                padding: .7rem 1.2rem;
                border-radius: 2px;
                text-decoration: none;
                height: 25px;
                display: inline-block;
            }
        }
        section.artikkel-fra-byer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2.5rem; 
        }
    }
}


/* Stor desktop */
@media (min-width: 1025px) {
    main {
        display: block; 
        h1 {
            font-family: fonts.$titles;
            font-size: 2rem;
            margin: 0 auto;
            padding: 0 20px;
        }

        section.hoved-events {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 1rem;
        }

        section.artikkel-fra-byer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 2.5rem; 
        }
    }
}
