@use "./partials/colors"; 
@use "./partials/fonts.scss"; 


//Mobile-first
#root {
    margin: 0, auto; 
    width: 100%;
    font-family: fonts.$quantitytext;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    padding: 0 20px;

    section {
        

        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0 20px;
            gap: 2rem;
            
    
            img {
                max-width: 333px;
                min-height: auto;
            }
    
            .mainEventBtn {
                color: colors.$whitetext;
                background-color: colors.$buttons;
                padding: 1rem;
                border-radius: 2px;
                text-decoration: none;
    
            }
        
        }

    }

    
}



body {
    background-color: colors.$backgroundcolor; 
}

/* Medieforespørsel for store skjermer mellom 700-1023px: */
@media (min-width: 700px) and (max-width: 1023px) {
}
/* Medieforespørsel for mellomstore skjermer: 2 kolonner for artikler */
@media (min-width: 450px) {
}

/* Medieforespørsel for Desktop */
@media (min-width: 1024px) {
}

/* Responsivt design for mindre skjermer */
@media (max-width: 768px) {
}

/* Media query for viewport fra 1400px og større - tre kolonner */
@media (min-width: 1350px) {
}
